<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <div class="news-list">
        {% assign news = site.news | reverse %}
        {% if include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <div class="news-item mb-3">
            <div class="news-date badge bg-light text-dark border mr-2 p-2">{{ item.date | date: '%b %d, %Y' }}</div>
            <div class="news-content d-inline-block align-middle">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title font-weight-bold" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
